#content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

a {
    color: violet;
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
    margin: 10px;
    background-color: lightgreen;
    display: block;
}
a:hover {
    color: white;
}