/* Home Page/Other Pages CSS */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rock+Salt&display=swap');

body {
    line-height: 30px;
    background-color: #ecfcff;
    margin: 0 0;
}

p {
    font-family: Merriweather, Arial, Helvetica, sans-serif;
}

ol {
    font-family: Merriweather, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Rock Salt", Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
}

main a {
    color:black;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    text-decoration: none;
}


.navbar {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
    background-color: #94ecfd;
    padding: 5px 30px;
    align-items: center;
    justify-items: center;
    font-size: 27px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    position: fixed;
    width: 96%;
}

.icon {
    grid-column: 1/2;
    width: 100%;
    border: solid 3px black;
    border-radius: 50%;
}

#a1 {
    grid-column: 2/3;
}

#a2 {
    grid-column: 3/4;
}

#a3 {
    grid-column: 4/5;
}

#a4 {
    grid-column: 5/6;
}

#a5 {
    grid-column: 6/7;
    justify-self: right;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

#current {
    color: white;
}

.herobox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px 400px;
    padding-top: 100px;
}

.heroimg {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
}

.hero0 {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.fadebox {
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: top;
    justify-self: center;
    text-align: center;
    max-width: 75%;
}

.hero01 {
    opacity: 1;
    align-self: center;
    justify-self: center;
    margin: 30px;
    padding: 10px;
    color: white;
    background-color:#00B4D8;
    border: 10px solid #00B4D8;
    border-radius: 40px;
    z-index: 1;
}

.hero02 {
    justify-self: center;
    align-self: center;
    width: 20%;
    border: 10px solid #03045E;
    border-radius: 10px;
}

.homegrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 100px 150px 100px 100px 150px 100px 100px 150px 150px 200px;
    align-items: center;
    margin: 0 5%;
    grid-row-gap: 40px;
}

.home1 {
    grid-column: 1/6;
    grid-row: 1/3;
}

.img1 {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    border: 20px solid #03045E;
    border-radius: 10px;
}

.home2 {
    grid-column: 1/6;
    grid-row: 4/6;
}

.img2 {
    grid-column: 3/4;
    grid-row: 6/7;
    width: 100%;
    border: 20px solid #03045E;
    border-radius: 10px;
}

.home3 {
    grid-column: 1/6;
    grid-row: 7/9;
    align-self: left;
}

.img3 {
    grid-column: 4/5;
    grid-row: 9/10;
    width: 100%;
    border: 20px solid #03045E;
    border-radius: 10px;
}

.home4 {
    grid-column: 2/5;
    grid-row: 10/12;
}

footer {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
    justify-items: left;
    padding: 0 20px;
    margin-top: 50px;
    grid-column-gap: 20px;
    background-color: #00B4D8;
    padding: 10px 0px;
}

.facebook {
    height: 100%;
}

/* Css for scheduling page */

.herobox2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px 250px;
    padding-top: 100px;
}

.hero2 {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    font-size: xx-large;
}

.homegrid3 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 150px 300px 250px 250px;
    margin: 0% 5%;
    justify-items: center;
    align-items: center;
    grid-row-gap: 50px;
}

.schedule {
    grid-column: 2/3;
    grid-row: 1/2; 
    text-align: center;
    align-self: baseline;
}

.s13 {
    grid-column: 1/4;
    grid-row: 2/3; 
    width: 100%; 
    height: 100%;
}

.s135 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-decoration: none;
    font-size: x-large;
    background-color: white;
    border: 40px solid white; 
    border-radius: 20px; 
}

.s135:hover {
    grid-column: 2/3;
    grid-row: 2/3;
    text-decoration: none;
    font-size: xx-large;
    background-color: white;
    border: 60px solid white; 
    border-radius: 20px;
    transition-duration: 400ms;
}

.s14 {
    grid-column: 1/2;
    grid-row: 3/4; 
    width: 100%; 
    height: 100%;
    border: 2px solid black;
    border-radius: 5px;
}

.s15 {
    grid-column: 2/4;
    grid-row: 3/4; 
    text-align: center;
}

.s17 {
    grid-column: 3/4;
    grid-row: 4/5; 
    width: 100%; 
    height: 100%; 
    border: 2px solid black;
    border-radius: 5px;
}

.s18 {
    grid-column: 1/3;
    grid-row: 4/5; 
    text-align: center; 
}